<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8e0RUov0Ko8zhIwBVXkq276uMWAV5h64</string>
	<key>GCM_SENDER_ID</key>
	<string>1007149929010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cjlvidslimited.ballslashhero</string>
	<key>PROJECT_ID</key>
	<string>ball-slash-hero</string>
	<key>STORAGE_BUCKET</key>
	<string>ball-slash-hero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007149929010:ios:6fc4a7f439a208c2b2a22b</string>

	<!-- Добавьте это для разрешения незащищенных URL -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<!-- Или добавьте исключения для конкретных доменов -->
		<!--
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
		-->
	</dict>
</dict>
</plist>
